<mat-card class="card-view">
  <mat-card-content class="card-content">
    <form class="basic-form" [formGroup]="basicForm">
      <app-basic-input
        [control]="nameFormControl"
        [label]="'Enter name'"
      ></app-basic-input>
      <app-basic-input
        [control]="lastnameFormControl"
        [label]="'Enter lastname'"
      ></app-basic-input>
      <app-basic-button
        class="basic-form__button"
        [text]="'Submit'"
        (clickTrigger)="onSubmit()"
      ></app-basic-button>
    </form>
  </mat-card-content>
</mat-card>
